---
import { ui } from '../i18n/ui';

interface Props {
	title?: string;
	description?: string;
	lang?: 'en' | 'es';
}

const { 
	lang = 'en', 
	title = ui[lang]['seo.title'],
	description = ui[lang]['seo.description']
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || 'https://emmanuelrodas.com');
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Favicons -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="alternate icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon.svg" />
		
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL('/og-image.jpg', Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL('/og-image.jpg', Astro.url)} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-NWMMN6VX');</script>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWMMN6VX"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import '/src/styles/global.css';

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-bg);
	}
</style>
